<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834855187376-po5bcgfoigieccv274q164pdnf6r9rqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834855187376-po5bcgfoigieccv274q164pdnf6r9rqu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>834855187376-5otpblr3clhcntdh9kknjc9p87otrkbh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAt2M3xQIX8_gjFFliKmojKwcD094J4cww</string>
	<key>GCM_SENDER_ID</key>
	<string>834855187376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MGMG</string>
	<key>PROJECT_ID</key>
	<string>mgmg-007</string>
	<key>STORAGE_BUCKET</key>
	<string>mgmg-007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834855187376:ios:ddb33bf0078ca792459c75</string>
</dict>
</plist>